* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.background {
    background-color: #D5E1EF;
}

.container-main {
    background-color: white;
    width: 320px;
    height: 497px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 18px;
}

.img-qr-code {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 16px;
}

.text-lg {
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #1f314f;
    text-align: center;
    margin: 18px 28px;
}

.text-sm {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #7d889e;
    text-align: center;
    margin: 18px 28px;
}